<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Start form</title>
</head>
<body>
<form id="stop-coroutine-form1" method="GET" action="/startCoroutine1" style="display: inline-block;">
    <label for="startHours">Enter the numbers:</label><input placeholder="Start hours" type="number" id="startHours"
                                                             name="startHours">
    <label for="startMinutes"></label><input placeholder="Start minutes" type="number" id="startMinutes"
                                             name="startMinutes">
    <label for="endHours"></label><input placeholder="End hours" type="number" id="endHours" name="endHours">
    <label for="endMinutes"></label><input placeholder="End minutes" type="number" id="endMinutes" name="endMinutes">
    <label for="multiple"></label><input placeholder="Multiple" type="number" id="multiple" name="multiple">
    <button type="submit" action="/startCoroutine1">Start</button>
    <button type="button" action="/stopCoroutine">Stop</button>
</form>
</body>
</html>