<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Запустить форму</title>
</head>
<body>
<form id="stop-coroutine-form1" method="GET" action="/example" style="display: inline-block;">
  <label for="param1">Введите число:</label>
  <input placeholder="hour" type="number" id="param1" name="param1">
  <label for="param2"></label><input placeholder="minute" type="number" id="param2" name="param2">
  <label for="param3"></label><input placeholder="hour" type="number" id="param3" name="param3">
  <label for="param4"></label><input placeholder="minute" type="number" id="param4" name="param4">
  <label for="param5"></label><input placeholder="multiple" type="number" id="param5" name="param5">
  <button type="submit">Запустить</button>
  <button type="button">Остановить</button>
</form>


</body>
</html>